<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>
  
  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>
  
  <div class="field">
    <%= form.label :branch_of_service %>
    <%= form.text_field :branch_of_service %>
  </div>

  <div class="field">
    <%= form.label :year_joined %>
    <%= form.text_field :year_joined %>
  </div>
  
  <div class="field">
    <%= form.label :year_separated %>
    <%= form.text_field :year_separated %>
  </div>

  <div class="field">
    <%= form.label :twitter_profile_url %>
    <%= form.text_field :twitter_profile_url %>
  </div>

  <div class="field">
    <%= form.label :linked_in_profile_url %>
    <%= form.text_field :linked_in_profile_url %>
  </div>

  <div class="field">
    <%= form.label :github_profile_url %>
    <%= form.text_field :github_profile_url %>
  </div>

  <div class="field">
    <%= form.label :prework_link %>
    <%= form.text_field :prework_link %>
  </div>

  <div class="field">
    <%= form.label :prework_repo_link %>
    <%= form.text_field :prework_repo_link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% if current_user.is_admin? && @user != current_user %>
  <p>
  <%= form_tag change_user_cohort_path(id: @user.id), method: :post do %>
    <%= select_tag :new_cohort, options_from_collection_for_select(Cohort.all, 'id', 'name', @user.cohort.id) %><br>
    <%= submit_tag "Change Cohort" %>
  <% end %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>