This is the show view

<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>Branch of Service:</strong>
  <%= @user.branch_of_service %>
</p>

<p>
  <strong>Year Joined:</strong>
  <%= @user.year_joined %>
</p>

<p>
  <strong>Year Separated:</strong>
  <%= @user.year_separated %>
</p>

<p>
  <strong>Twitter profile URL:</strong>
  <%= @user.twitter_profile_url %>
</p>

<p>
  <strong>Linked In Profile URL:</strong>
  <%= @user.linked_in_profile_url %>
</p>

<p>
  <strong>Github User Name:</strong>
  <%= @user.github_profile_url %>
</p>

<p>
  <strong>Prework Link</strong> (Your Hosted Prework Assignment):
  <%= @user.prework_link %>
</p>

<p>
  <strong>Prework Repo</strong> (The github repo in which your code resides):
  <%= @user.prework_repo_link %>
</p>

<p>
<%= link_to 'Edit', edit_user_path(@user) %>
</p>

<% if current_user.is_admin? %>
  <p>
  <%= form_tag change_profile_status_path(id: @user.id), method: :post do %>
    <%= select_tag :status, options_for_select(User.profile_statuses.map {|k, v| [k.humanize.capitalize, v]}) %>
    <%= submit_tag "Change Status" %>
  <% end %>
  </p>
  <%= link_to 'Back to list of Recruits', users_path %>
<% else %>
  Your current status is <%= @user.profile_status %>
  <%= button_to 'Submit for Review', change_profile_status_path(id: @user.id, status: 1) , method: :post %>
<% end %>