This is the show view

<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= current_user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= current_user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= current_user.zip_code %>
</p>

<p>
  <strong>City:</strong>
  <%= current_user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= current_user.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= current_user.country %>
</p>

<p>
  <strong>Branch of Service:</strong>
  <%= current_user.branch_of_service %>
</p>

<p>
  <strong>Year Joined:</strong>
  <%= current_user.year_joined %>
</p>

<p>
  <strong>Year Separated:</strong>
  <%= current_user.year_separated %>
</p>

<p>
  <strong>Twitter profile URL:</strong>
  <%= current_user.twitter_profile_url %>
</p>

<p>
  <strong>Linked In Profile URL:</strong>
  <%= current_user.linked_in_profile_url %>
</p>

<p>
  <strong>Github User Name:</strong>
  <%= current_user.github_profile_url %>
</p>

<p>
  <strong>Prework Link</strong> (Your Hosted Prework Assignment):
  <%= current_user.prework_link %>
</p>

<p>
  <strong>Prework Repo</strong> (The github repo in which your code resides):
  <%= current_user.prework_repo_link %>
</p>

<%# <%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back to list of Recruits', users_path %>
<%= button_to 'Submit for Review', applied_to_submitted_path(id: current_user.id) , method: :post %>